html {
  background: rgb(61, 60, 60);
  font-family: sans-serif;
}

.box {
  width: 100px;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.741);
  border-radius: 3px;
  cursor: grab;
  border: 2px solid rgba(255, 255, 255, 0.796);
  box-shadow: 4px 4px 4px;
}

.horizontal-line {
  max-height: 11px;
  overflow: hidden;
  width: 335px;
  padding: 0;
  cursor: grab;
  font-size: 100px;
  color: rgb(159, 167, 167);
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
}

.vertical-line {
  overflow: hidden;
  width: 25px;
  cursor: grab;
  font-size: 100px;
  color: rgb(159, 167, 167);
}

.control-panel {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
}

button {
  border-radius: 5px;
  background-color: rgba(240, 255, 255, 0.43);
  color: azure;
  box-shadow: 4px 4px 4px black;
}

button:hover {
  font-size: 14px;
  background-color: rgba(220, 20, 60, 0.688);
}

h1,
label {
  text-align: center;
  color: rgba(255, 255, 255, 0.744);
}

input,
select {
  border-radius: 3px;
  box-shadow: 4px 4px 4px;
}

input :hover {
  border-radius: 3px;
}
